<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <ol>
    <li>
      <a href="./index.html">Главная</a>
    </li>
    <li>
      <a href="./achievements.html">Профиль - Достижения</a>
    </li>
    <li>
      <a href="./login.html">Авторизация</a>
    </li>
    <li>
      <a href="./register.html">Регистрация</a>
    </li>
    <li>
      <a href="./profile.html">Настройки профиля</a>
    </li>
    <li>
      <a href="./reset-password.html">Восстановление пароля</a>
    </li>
    <li>
      <a href="./team.html">О команде</a>
    </li>
    <li>
      <a href="./user.html">Профиль</a>
    </li>
    <li>
      <a href="./portfolio.html">Портфолио</a>
    </li>
    <li>
      <a href="./reset-password.html">Восстановить пароль 1</a>
    </li>
    <li>
      <a href="./reset-password-02.html">Восстановить пароль 2</a>
    </li>
    <li>
      <a href="./reset-password-01.html">Восстановить пароль 3</a>
    </li>
    <li>
      <a href="./achievement-01.html">Достижение 1</a>
    </li>
    <li>
      <a href="./achievement-02.html">Достижение 2</a>
    </li>
    <li>
      <a href="./achievement-03.html">Достижение 3</a>
    </li>
    <li>
      <a href="./achievement-04.html">Достижение 4</a>
    </li>
    <li>
      <a href="./achievement-05.html">Достижение 5</a>
    </li>
  </ol>
</body>

</html>
