{% load static %}
<!DOCTYPE html>
<html class="page" lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Добро пожаловать!</title>
  <link rel="stylesheet" href="{% static 'main/css/libs.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/style.min.css' %}">
</head>

<body class="page__body">
  <div class="page__wrapper">
    <main class="main page__main">
      <section class="auth">
        <div class="container">
          <div class="auth__inner">
            <h1 class="title title--sz-55 title--shadow auth__title">Добро пожаловать!</h1>
            <form class="auth__form" method="POST" action="{% url 'register_user' %}">
              {% csrf_token %}
              <div class="auth__form-inputs">
                <label class="input">
                  <div class="input__label">Логин</div>
                  <div class="input__box">
                    <input class="input__control" type="text" name="login">
                  </div>
                </label>
                <label class="input">
                  <div class="input__label">Пароль</div>
                  <div class="input__box">
                    <input class="input__control" type="password" name="password">
                  </div>
                </label>
                <label class="input">
                  <div class="input__label">Email</div>
                  <div class="input__box">
                    <input class="input__control" type="email" name="email">
                  </div>
                  {% if form.errors.email %}
                    <div class="error-message">{{ form.errors.email }}</div>
                  {% endif %}
                </label>
                <label class="input">
                  <div class="input__label">Имя</div>
                  <div class="input__box">
                    <input class="input__control" type="text" name="name">
                  </div>
                </label>
                <label class="input">
                  <div class="input__label">Фамилия</div>
                  <div class="input__box">
                    <input class="input__control" type="text" name="lastname">
                  </div>
                </label>
              </div>
              <div class="auth__form-buttons">
                <button class="" type="button"><a class="button" href="./">Назад</a></button>
                <button class="button" type="submit">Далее</button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>
<style>
  .error-message {
    color: #ff0000;
    font-size: 14px;
  }
</style>
</html>
