{% load static %}
<!DOCTYPE html>
<html class="page" lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Восстановить пароль !</title>
  <link rel="stylesheet" href="{% static 'main/css/libs.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/style.min.css' %}">
</head>

<body class="page__body">
  <div class="page__wrapper">
    <main class="main page__main">
      <section class="auth">
        <div class="container">
          <div class="auth__inner">
            <h1 class="title title--sz-55 title--shadow auth__title">Восстановить пароль</h1><!-- Форма с новым паролем-->
            <form class="auth__form" action="#">
              <div class="auth__form-inputs">
                <label class="input">
                  <div class="input__label">Введите новый пароль</div>
                  <div class="input__box">
                    <input class="input__control" type="password" name="password">
                  </div>
                </label>
                <label class="input">
                  <div class="input__label">Повторите новый пароль</div>
                  <div class="input__box">
                    <input class="input__control" type="password" name="repeat-password">
                  </div>
                </label>
              </div>
              <div class="auth__form-button">
                <button class="button" type="button">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>

</html>
