<!DOCTYPE html>
<html class="page" lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digital Dream</title>
  <link rel="stylesheet" href="css/libs.min.css?v=1.0.4">
  <link rel="stylesheet" href="css/style.min.css?v=1.0.4">
</head>

<body class="page__body">
  <div class="page__wrapper">
    <main class="main page__main">
      <section class="team">
        <div class="container">
          <h1 class="title title--sz-80 title--shadow team__title"> Digital Dream</h1>
          <div class="content team__content">
            <p>Мы - команда целеустремленных и креативных студентов из Уральского
              <br>Федерального университета имени Первого Президента Росии Б. Н. Ельцина
            </p>
          </div>
          <ul class="team__list">
            <li class="team__item">
              <div class="team-card">
                <div class="team-card__avatar">
                  <span class="icon">
                    <img src="img/team-01.png" alt="Мария Федорова">
                  </span>
                </div>
                <p class="team-card__name">Мария Федорова</p>
                <p class="team-card__position">Дизайнер</p>
              </div>
            </li>
            <li class="team__item">
              <div class="team-card">
                <div class="team-card__avatar">
                  <span class="icon">
                    <img src="img/team-02.png" alt="Никита Безручко">
                  </span>
                </div>
                <p class="team-card__name">Никита Безручко</p>
                <p class="team-card__position" style="font-size: 1em;">Тимлид & Backend разработчик</p>
              </div>
            </li>
            <li class="team__item">
              <div class="team-card">
                <div class="team-card__avatar">
                  <span class="icon">
                    <img src="img/team-03.png" alt="Екатерина Тараканова">
                  </span>
                </div>
                <p class="team-card__name">Екатерина Тараканова</p>
                <p class="team-card__position">Frontend разработчик</p>
              </div>
            </li>
            <li class="team__item">
              <div class="team-card">
                <div class="team-card__avatar">
                  <span class="icon">
                    <img src="img/team-04.png" alt="Дмитрий Лысиков">
                  </span>
                </div>
                <p class="team-card__name">Дмитрий Лысиков</p>
                <p class="team-card__position">Аналитик</p>
              </div>
            </li>
          </ul>
          <a class="button team__button" href="./">Назад</a>
        </div>
      </section>
    </main>
  </div>
</body>

</html>
