{% load static %}


<!DOCTYPE html>
<html class="page" lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Расположите фотографии так, как Вам нравится</title>
  <link rel="stylesheet" href="{% static 'css/libs.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>

<body class="page__body">
  <div class="page__wrapper">
    <main class="main page__main">
      <section class="portfolio">
        <div class="container">
          <div class="portfolio__top">
            <h1 class="title title--sz-50 title--shadow portfolio__title">Расположите фотографии так, как Вам нравится</h1>
            <p class="portfolio__subtext">Мы подготовили варианты расположения фотографий Вашего портфолио. Выберите понравившийся.</p>
          </div>
          <ul class="portfolio__list">
            <li class="portfolio__item">
              <a class="portfolio__item-link" href="{% url 'create-portfolio' variant=1 %}">
                <img src="{% static 'img/portfolio-01.svg' %}" alt="">
              </a>
            </li>
            <li class="portfolio__item">
              <a class="portfolio__item-link" href="{% url 'create-portfolio' variant=2 %}">
                <img src="{% static 'img/portfolio-02.svg' %}" alt="">
              </a>
            </li>
            <li class="portfolio__item">
              <a class="portfolio__item-link" href="{% url 'create-portfolio' variant=3 %}">
                <img src="{% static 'img/portfolio-03.svg' %}" alt="">
              </a>
            </li>
            <li class="portfolio__item">
              <a class="portfolio__item-link" href="{% url 'create-portfolio' variant=4 %}">
                <img src="{% static 'img/portfolio-04.svg' %}" alt="">
              </a>
            </li>
            <li class="portfolio__item">
              <a class="portfolio__item-link" href="{% url 'create-portfolio' variant=5 %}">
                <img src="{% static 'img/portfolio-05.svg' %}" alt="">
              </a>
            </li>
            <li class="portfolio__item">
              <a class="portfolio__item-link" href="{% url 'create-portfolio' variant=6 %}">
                <img src="{% static 'img/portfolio-06.svg' %}" alt="">
              </a>
            </li>
          </ul>
          <form action="/">{% csrf_token %}
          <div class="portfolio__buttons">
            <button class="button">Назад</button>
          </div>
          </form>
        </div>
      </section>
    </main>
  </div>
</body>

</html>
